In [36]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_pickle('data\DED_2020.pickle')

In [8]:
df['winner'].value_counts().rename_axis('Team').reset_index(name='Counts')

        Team  Counts
0  HOME_TEAM      30
1  AWAY_TEAM      22
2       DRAW      19

In [17]:
len(df[df['matchday'] == 2.0])

9

In [24]:
dff[['winner', 'homeTeam', 'awayTeam']]

,winner,homeTeam,awayTeam
id,,,
301998,HOME_TEAM,"{'id': 673, 'name': 'SC Heerenveen'}","{'id': 672, 'name': 'Willem II Tilburg'}"
301999,AWAY_TEAM,"{'id': 684, 'name': 'PEC Zwolle'}","{'id': 675, 'name': 'Feyenoord Rotterdam'}"
302000,HOME_TEAM,"{'id': 666, 'name': 'FC Twente '65'}","{'id': 1920, 'name': 'Fortuna Sittard'}"
302001,AWAY_TEAM,"{'id': 1914, 'name': 'FC Emmen'}","{'id': 668, 'name': 'VVV Venlo'}"
302002,HOME_TEAM,"{'id': 671, 'name': 'Heracles Almelo'}","{'id': 680, 'name': 'ADO Den Haag'}"
...,...,...,...
302065,AWAY_TEAM,"{'id': 676, 'name': 'FC Utrecht'}","{'id': 678, 'name': 'AFC Ajax'}"
302064,HOME_TEAM,"{'id': 679, 'name': 'SBV Vitesse'}","{'id': 1914, 'name': 'FC Emmen'}"
302068,HOME_TEAM,"{'id': 675, 'name': 'Feyenoord Rotterdam'}","{'id': 677, 'name': 'FC Groningen'}"
302063,AWAY_TEAM,"{'id': 673, 'name': 'SC Heerenveen'}","{'id': 682, 'name': 'AZ'}"
302066,HOME_TEAM,"{'id': 674, 'name': 'PSV'}","{'id': 672, 'name': 'Willem II Tilburg'}"

In [42]:
dff = df[['winner', 'homeTeamName', 'awayTeamName']]
all_teams = df['homeTeamName'].unique()

In [43]:
dff

           winner         homeTeamName         awayTeamName
id
301998  HOME_TEAM        SC Heerenveen    Willem II Tilburg
301999  AWAY_TEAM           PEC Zwolle  Feyenoord Rotterdam
302000  HOME_TEAM        FC Twente '65      Fortuna Sittard
302001  AWAY_TEAM             FC Emmen            VVV Venlo
302002  HOME_TEAM      Heracles Almelo         ADO Den Haag
...           ...                  ...                  ...
302065  AWAY_TEAM           FC Utrecht             AFC Ajax
302064  HOME_TEAM          SBV Vitesse             FC Emmen
302068  HOME_TEAM  Feyenoord Rotterdam         FC Groningen
302063  AWAY_TEAM        SC Heerenveen                   AZ
302066  HOME_TEAM                  PSV    Willem II Tilburg

[71 rows x 3 columns]

In [50]:
teams_df = pd.DataFrame(0, index=df['winner'].unique(), columns=all_teams)

In [51]:
teams_df

,SC Heerenveen,PEC Zwolle,FC Twente '65,FC Emmen,Heracles Almelo,Sparta Rotterdam,RKC Waalwijk,FC Groningen,VVV Venlo,AZ,SBV Vitesse,PSV,Fortuna Sittard,ADO Den Haag,Feyenoord Rotterdam,Willem II Tilburg,AFC Ajax,FC Utrecht
HOME_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AWAY_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DRAW,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [52]:
teams_df['PSV']['HOME_TEAM']

0

In [90]:
def test(dff, teams_df):
    for index, row in dff.iterrows():
        if row[0] == 'HOME_TEAM':
            teams_df[row[1]]['HOME_TEAM'] += 1
        elif row[0] == 'AWAY_TEAM':
            teams_df[row[2]]['AWAY_TEAM'] += 1
        elif row[0] == 'DRAW':
            teams_df[row[1]]['DRAW'] += 1
            teams_df[row[2]]['DRAW'] += 1
        print(1)
    return teams_df

In [70]:
def fill_df_teams(df, df_teams):
    for index, row in df.iterrows():
        if row[0] == 'HOME_TEAM':
            df_teams[row[1]]['HOME_TEAM'] += 1
        elif row[0] == 'AWAY_TEAM':
            df_teams[row[2]]['AWAY_TEAM'] += 1
        elif row[0] == 'DRAW':
            df_teams[row[1]]['DRAW'] += 1
            df_teams[row[2]]['DRAW'] += 1

        print(1)
        return df_teams

In [89]:
df_teams = pd.DataFrame(0, index=df['winner'].unique(), columns=all_teams)
df_teams = fill_df_teams(df[['winner', 'homeTeamName', 'awayTeamName']], df_teams)

1

In [85]:
df_teams = pd.DataFrame(0, index=df['winner'].unique(), columns=all_teams)
df_teams

,SC Heerenveen,PEC Zwolle,FC Twente '65,FC Emmen,Heracles Almelo,Sparta Rotterdam,RKC Waalwijk,FC Groningen,VVV Venlo,AZ,SBV Vitesse,PSV,Fortuna Sittard,ADO Den Haag,Feyenoord Rotterdam,Willem II Tilburg,AFC Ajax,FC Utrecht
HOME_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AWAY_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DRAW,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [87]:
df_teams = test(dff, df_teams)

In [88]:
df_teams

,SC Heerenveen,PEC Zwolle,FC Twente '65,FC Emmen,Heracles Almelo,Sparta Rotterdam,RKC Waalwijk,FC Groningen,VVV Venlo,AZ,SBV Vitesse,PSV,Fortuna Sittard,ADO Den Haag,Feyenoord Rotterdam,Willem II Tilburg,AFC Ajax,FC Utrecht
HOME_TEAM,6,2,6,0,4,0,0,4,2,2,8,8,0,0,4,2,8,4
AWAY_TEAM,4,0,4,0,0,2,2,4,2,2,6,4,0,2,6,0,6,0
DRAW,2,8,4,6,4,6,4,2,4,10,0,2,6,2,6,4,0,6

In [84]:
dff = df[['winner', 'homeTeamName', 'awayTeamName']]

In [92]:
[{'label': i, 'value': i} for i in ['Linear', 'Log']]

[{'label': 'Linear', 'value': 'Linear'}, {'label': 'Log', 'value': 'Log'}]