In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_pickle('data\BL1_2020.pickle')

## Corona preprocessing and figuring stuff out with dates

In [15]:
df["utcDate"] = pd.to_datetime(df["utcDate"]).dt.tz_localize(None)

In [18]:
df["corona"]= np.where(df["utcDate"] < pd.Timestamp("2020-11-05").floor('D'),"pre","post")

In [19]:
df["corona"]

id
301998     pre
301999     pre
302000     pre
302001     pre
302002     pre
          ...
302065    post
302064    post
302068    post
302063    post
302066    post
Name: corona, Length: 71, dtype: object

## Winner related stuff

In [2]:
df = pd.read_pickle('data/all_data.pickle')
df = df[(df['corona'] == 'post') & (df['league'] == 'BL1')]

In [5]:
reorderlist = ['HOME_TEAM', 'AWAY_TEAM', 'DRAW']

In [3]:
df['winner']

id
271631    HOME_TEAM
271635         DRAW
271596    HOME_TEAM
271639    HOME_TEAM
271641         DRAW
            ...
303063    HOME_TEAM
303064    HOME_TEAM
303056    AWAY_TEAM
303060    HOME_TEAM
303059    HOME_TEAM
Name: winner, Length: 150, dtype: object

In [6]:
df['winner'].value_counts().reindex(reorderlist)

HOME_TEAM    51
AWAY_TEAM    57
DRAW         42
Name: winner, dtype: int64

In [32]:
df['winner'].value_counts().sort_index(ascending=False).rename_axis('Team').reset_index(name='Counts')

        Team  Counts
0  HOME_TEAM      51
1       DRAW      42
2  AWAY_TEAM      57

In [17]:
len(df[df['matchday'] == 2.0])

9

In [24]:
dff[['winner', 'homeTeam', 'awayTeam']]

,winner,homeTeam,awayTeam
id,,,
301998,HOME_TEAM,"{'id': 673, 'name': 'SC Heerenveen'}","{'id': 672, 'name': 'Willem II Tilburg'}"
301999,AWAY_TEAM,"{'id': 684, 'name': 'PEC Zwolle'}","{'id': 675, 'name': 'Feyenoord Rotterdam'}"
302000,HOME_TEAM,"{'id': 666, 'name': 'FC Twente '65'}","{'id': 1920, 'name': 'Fortuna Sittard'}"
302001,AWAY_TEAM,"{'id': 1914, 'name': 'FC Emmen'}","{'id': 668, 'name': 'VVV Venlo'}"
302002,HOME_TEAM,"{'id': 671, 'name': 'Heracles Almelo'}","{'id': 680, 'name': 'ADO Den Haag'}"
...,...,...,...
302065,AWAY_TEAM,"{'id': 676, 'name': 'FC Utrecht'}","{'id': 678, 'name': 'AFC Ajax'}"
302064,HOME_TEAM,"{'id': 679, 'name': 'SBV Vitesse'}","{'id': 1914, 'name': 'FC Emmen'}"
302068,HOME_TEAM,"{'id': 675, 'name': 'Feyenoord Rotterdam'}","{'id': 677, 'name': 'FC Groningen'}"
302063,AWAY_TEAM,"{'id': 673, 'name': 'SC Heerenveen'}","{'id': 682, 'name': 'AZ'}"
302066,HOME_TEAM,"{'id': 674, 'name': 'PSV'}","{'id': 672, 'name': 'Willem II Tilburg'}"

In [42]:
dff = df[['winner', 'homeTeamName', 'awayTeamName']]
all_teams = df['homeTeamName'].unique()

In [94]:
df['homeTeamName'].unique().sort()

In [97]:
all_teams = df['homeTeamName'].unique()

In [98]:
all_teams

array(['SC Heerenveen', 'PEC Zwolle', "FC Twente '65", 'FC Emmen',
       'Heracles Almelo', 'Sparta Rotterdam', 'RKC Waalwijk',
       'FC Groningen', 'VVV Venlo', 'AZ', 'SBV Vitesse', 'PSV',
       'Fortuna Sittard', 'ADO Den Haag', 'Feyenoord Rotterdam',
       'Willem II Tilburg', 'AFC Ajax', 'FC Utrecht'], dtype=object)

In [99]:
np.sort(all_teams)

array(['ADO Den Haag', 'AFC Ajax', 'AZ', 'FC Emmen', 'FC Groningen',
       "FC Twente '65", 'FC Utrecht', 'Feyenoord Rotterdam',
       'Fortuna Sittard', 'Heracles Almelo', 'PEC Zwolle', 'PSV',
       'RKC Waalwijk', 'SBV Vitesse', 'SC Heerenveen', 'Sparta Rotterdam',
       'VVV Venlo', 'Willem II Tilburg'], dtype=object)

In [50]:
teams_df = pd.DataFrame(0, index=df['winner'].unique(), columns=all_teams)

In [51]:
teams_df

,SC Heerenveen,PEC Zwolle,FC Twente '65,FC Emmen,Heracles Almelo,Sparta Rotterdam,RKC Waalwijk,FC Groningen,VVV Venlo,AZ,SBV Vitesse,PSV,Fortuna Sittard,ADO Den Haag,Feyenoord Rotterdam,Willem II Tilburg,AFC Ajax,FC Utrecht
HOME_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AWAY_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DRAW,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [52]:
teams_df['PSV']['HOME_TEAM']

0

In [90]:
def test(dff, teams_df):
    for index, row in dff.iterrows():
        if row[0] == 'HOME_TEAM':
            teams_df[row[1]]['HOME_TEAM'] += 1
        elif row[0] == 'AWAY_TEAM':
            teams_df[row[2]]['AWAY_TEAM'] += 1
        elif row[0] == 'DRAW':
            teams_df[row[1]]['DRAW'] += 1
            teams_df[row[2]]['DRAW'] += 1
        print(1)
    return teams_df

In [70]:
def fill_df_teams(df, df_teams):
    for index, row in df.iterrows():
        if row[0] == 'HOME_TEAM':
            df_teams[row[1]]['HOME_TEAM'] += 1
        elif row[0] == 'AWAY_TEAM':
            df_teams[row[2]]['AWAY_TEAM'] += 1
        elif row[0] == 'DRAW':
            df_teams[row[1]]['DRAW'] += 1
            df_teams[row[2]]['DRAW'] += 1

        print(1)
        return df_teams

In [89]:
df_teams = pd.DataFrame(0, index=df['winner'].unique(), columns=all_teams)
df_teams = fill_df_teams(df[['winner', 'homeTeamName', 'awayTeamName']], df_teams)

1

In [85]:
df_teams = pd.DataFrame(0, index=df['winner'].unique(), columns=all_teams)
df_teams

,SC Heerenveen,PEC Zwolle,FC Twente '65,FC Emmen,Heracles Almelo,Sparta Rotterdam,RKC Waalwijk,FC Groningen,VVV Venlo,AZ,SBV Vitesse,PSV,Fortuna Sittard,ADO Den Haag,Feyenoord Rotterdam,Willem II Tilburg,AFC Ajax,FC Utrecht
HOME_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AWAY_TEAM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DRAW,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [87]:
df_teams = test(dff, df_teams)

In [88]:
df_teams

,SC Heerenveen,PEC Zwolle,FC Twente '65,FC Emmen,Heracles Almelo,Sparta Rotterdam,RKC Waalwijk,FC Groningen,VVV Venlo,AZ,SBV Vitesse,PSV,Fortuna Sittard,ADO Den Haag,Feyenoord Rotterdam,Willem II Tilburg,AFC Ajax,FC Utrecht
HOME_TEAM,6,2,6,0,4,0,0,4,2,2,8,8,0,0,4,2,8,4
AWAY_TEAM,4,0,4,0,0,2,2,4,2,2,6,4,0,2,6,0,6,0
DRAW,2,8,4,6,4,6,4,2,4,10,0,2,6,2,6,4,0,6

In [84]:
dff = df[['winner', 'homeTeamName', 'awayTeamName']]

In [92]:
[{'label': i, 'value': i} for i in ['Linear', 'Log']]

[{'label': 'Linear', 'value': 'Linear'}, {'label': 'Log', 'value': 'Log'}]

## Filtering big dataset

In [20]:
df = pd.read_pickle('data/all_data.pickle')

In [24]:
df[(df['corona'] == 'pre') & (df['competition'] == 'DED')]

,awayTeam,group,homeTeam,lastUpdated,matchday,referees,score,season,stage,status,utcDate,winner,homeTeamName,awayTeamName,corona,competition
id,,,,,,,,,,,,,,,,
235183,"{'id': 673, 'name': 'SC Heerenveen'}",Regular Season,"{'id': 684, 'name': 'PEC Zwolle'}",2019-04-13T17:30:48Z,1,"[{'id': 43861, 'name': 'Dennis Higler', 'natio...","{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...",2018,REGULAR_SEASON,FINISHED,2018-08-10 18:00:00,AWAY_TEAM,PEC Zwolle,SC Heerenveen,pre,DED
235184,"{'id': 671, 'name': 'Heracles Almelo'}",Regular Season,"{'id': 678, 'name': 'AFC Ajax'}",2019-04-13T17:30:48Z,1,"[{'id': 43858, 'name': 'Serdar GÃ¶zÃ¼bÃ¼yÃ¼k', 'na...","{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...",2018,REGULAR_SEASON,FINISHED,2018-08-11 16:30:00,DRAW,AFC Ajax,Heracles Almelo,pre,DED
235185,"{'id': 668, 'name': 'VVV Venlo'}",Regular Season,"{'id': 672, 'name': 'Willem II Tilburg'}",2019-04-13T17:30:48Z,1,"[{'id': 17141, 'name': 'Rob Dieperink', 'natio...","{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...",2018,REGULAR_SEASON,FINISHED,2018-08-11 16:30:00,AWAY_TEAM,Willem II Tilburg,VVV Venlo,pre,DED
235186,"{'id': 676, 'name': 'FC Utrecht'}",Regular Season,"{'id': 674, 'name': 'PSV'}",2019-04-13T17:30:48Z,1,"[{'id': 56905, 'name': 'Bas Nijhuis', 'nationa...","{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...",2018,REGULAR_SEASON,FINISHED,2018-08-11 18:45:00,HOME_TEAM,PSV,FC Utrecht,pre,DED
235187,"{'id': 1920, 'name': 'Fortuna Sittard'}",Regular Season,"{'id': 670, 'name': 'SBV Excelsior'}",2019-04-13T17:30:48Z,1,"[{'id': 56902, 'name': 'Siemen Mulder', 'natio...","{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...",2018,REGULAR_SEASON,FINISHED,2018-08-11 18:45:00,DRAW,SBV Excelsior,Fortuna Sittard,pre,DED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265017,"{'id': 678, 'name': 'AFC Ajax'}",Regular Season,"{'id': 673, 'name': 'SC Heerenveen'}",2020-03-08T07:25:20Z,26,"[{'id': 56912, 'name': 'Jeroen Manschot', 'nat...","{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...",2019,REGULAR_SEASON,FINISHED,2020-03-07 19:45:00,AWAY_TEAM,SC Heerenveen,AFC Ajax,pre,DED
265019,"{'id': 6806, 'name': 'Sparta Rotterdam'}",Regular Season,"{'id': 676, 'name': 'FC Utrecht'}",2020-03-08T23:59:23Z,26,"[{'id': 9561, 'name': 'Allard Lindhout', 'nati...","{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...",2019,REGULAR_SEASON,FINISHED,2020-03-08 11:15:00,HOME_TEAM,FC Utrecht,Sparta Rotterdam,pre,DED
265020,"{'id': 672, 'name': 'Willem II Tilburg'}",Regular Season,"{'id': 675, 'name': 'Feyenoord Rotterdam'}",2020-03-08T23:59:23Z,26,"[{'id': 15152, 'name': 'Pol van Boekel', 'nati...","{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...",2019,REGULAR_SEASON,FINISHED,2020-03-08 13:30:00,HOME_TEAM,Feyenoord Rotterdam,Willem II Tilburg,pre,DED
265021,"{'id': 683, 'name': 'RKC Waalwijk'}",Regular Season,"{'id': 671, 'name': 'Heracles Almelo'}",2020-03-08T23:59:23Z,26,"[{'id': 56904, 'name': 'Edwin van de Graaf', '...","{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...",2019,REGULAR_SEASON,FINISHED,2020-03-08 13:30:00,HOME_TEAM,Heracles Almelo,RKC Waalwijk,pre,DED
265022,"{'id': 674, 'name': 'PSV'}",Regular Season,"{'id': 677, 'name': 'FC Groningen'}",2020-03-08T23:59:24Z,26,"[{'id': 43858, 'name': 'Serdar GÃ¶zÃ¼bÃ¼yÃ¼k', 'na...","{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...",2019,REGULAR_SEASON,FINISHED,2020-03-08 15:45:00,AWAY_TEAM,FC Groningen,PSV,pre,DED

### Checking colors/marker color etc

In [34]:
d = {
    'ABC':'red',
    'DEF':'green',
    'GHI':'black'
}

In [39]:
a = np.array(['ABC', 'DEF', 'GHI'])

In [40]:
colors = [d[k] for k in a]

In [42]:
colors

['red', 'green', 'black']

## New type of graph - Running average of points per game

In [147]:
df = pd.read_pickle('data/all_data.pickle').dropna(subset=['matchday'])
df = df.sort_values(by='utcDate')
df['matchday'] = df['matchday'].astype(int)

In [148]:
df['yearMatchday'] = df['year'].astype(str)+'_'+df['matchday'].astype(str)

In [171]:
df_pre = df[df['corona'] == 'pre']
df_post = df[df['corona'] == 'post']
dff_pre = df_pre[['yearMatchday', 'winner']]
dff_post = df_post[['yearMatchday', 'winner']]

In [190]:
points_df_pre = pd.DataFrame(0, index=dff_pre['yearMatchday'].unique(), columns=['homeTeamPoints', 'awayTeamPoints', 'numberOfMatches'])
points_df_post = pd.DataFrame(0, index=dff_post['yearMatchday'].unique(), columns=['homeTeamPoints', 'awayTeamPoints', 'numberOfMatches'])

In [191]:
def fill_points_df(dff, points_df):
    for index, row in dff.iterrows():
        points_df['numberOfMatches'][row[0]] += 1
        if row[1] == 'HOME_TEAM':
            points_df['homeTeamPoints'][row[0]] += 3
        elif row[1] == 'AWAY_TEAM':
            points_df['awayTeamPoints'][row[0]] += 3
    
    points_df['homeAvgPoints'] = points_df['homeTeamPoints']/points_df['numberOfMatches']
    points_df['awayAvgPoints'] = points_df['awayTeamPoints']/points_df['numberOfMatches']
    
    return points_df

In [192]:
points_df_pre = fill_points_df(dff_pre, points_df_pre)
points_df_post = fill_points_df(dff_post, points_df_post)

In [8]:
# Checking what's wrong with Bundesliga (and maybe other leagues)
league = 'BL1'
df = pd.read_pickle('data/all_data.pickle').dropna(subset=['matchday'])
df = df.sort_values(by='utcDate')
df['matchday'] = df['matchday'].astype(int)
df['yearMatchday'] = df['year'].astype(str)+'_'+df['matchday'].astype(str)

In [9]:
df_pre = df[(df['corona'] == 'pre') & (df['league'] == league)]
df_post = df[(df['corona'] == 'post') & (df['league'] == league)]

In [10]:
dff_pre = df_pre[['yearMatchday', 'winner']]
dff_post = df_post[['yearMatchday', 'winner']]

In [15]:
dff_pre['yearMatchday'].unique()

array(['2018_1', '2018_2', '2018_3', '2018_4', '2018_5', '2018_6',
       '2018_7', '2018_8', '2018_9', '2018_10', '2018_11', '2018_12',
       '2018_13', '2018_14', '2018_15', '2018_16', '2018_17', '2018_18',
       '2018_19', '2018_20', '2018_21', '2018_22', '2018_23', '2018_24',
       '2018_25', '2018_26', '2018_27', '2018_28', '2018_29', '2018_30',
       '2018_31', '2018_32', '2018_33', '2018_34', '2019_1', '2019_2',
       '2019_3', '2019_4', '2019_5', '2019_6', '2019_7', '2019_8',
       '2019_9', '2019_10', '2019_11', '2019_12', '2019_13', '2019_14',
       '2019_15', '2019_16', '2019_17', '2019_18', '2019_19', '2019_20',
       '2019_21', '2019_22', '2019_23', '2019_24', '2019_25'],
      dtype=object)

In [16]:
dff_post['yearMatchday'].unique()

array(['2019_25', '2019_21', '2019_26', '2019_27', '2019_28', '2019_29',
       '2019_24', '2019_30', '2019_31', '2019_32', '2019_33', '2019_34',
       '2020_1', '2020_2', '2020_3', '2020_4', '2020_5', '2020_6',
       '2020_7', '2020_8'], dtype=object)

In [ ]:
dff_post

In [18]:
dff_post[~dff_post['yearMatchday'].isin(dff_pre['yearMatchday'].unique())]

       yearMatchday     winner
id
271631      2019_25  HOME_TEAM
271635      2019_25       DRAW
271596      2019_21  HOME_TEAM
271645      2019_26       DRAW
271643      2019_26  AWAY_TEAM
...             ...        ...
303067       2020_8  AWAY_TEAM
303066       2020_8       DRAW
303068       2020_8  AWAY_TEAM
303072       2020_8  AWAY_TEAM
303065       2020_8  AWAY_TEAM

[157 rows x 2 columns]

In [17]:
dff_post[~dff_post['yearMatchday'].isin(dff_pre['yearMatchday'].unique())]

       yearMatchday     winner
id
271645      2019_26       DRAW
271643      2019_26  AWAY_TEAM
271642      2019_26  AWAY_TEAM
271641      2019_26       DRAW
271639      2019_26  HOME_TEAM
...             ...        ...
303067       2020_8  AWAY_TEAM
303066       2020_8       DRAW
303068       2020_8  AWAY_TEAM
303072       2020_8  AWAY_TEAM
303065       2020_8  AWAY_TEAM

[153 rows x 2 columns]